:root {
  --backgroundColor: #D4D1E5;
  --fontColor: #0B0A0A;
  --btnColor: #6F65A9;
}
body {
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--fontColor);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
