/*Import font 'New Rocker'*/
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

:root {
  --backgroundColor: #D4D1E5;
  --fontColor: #1A1054;
  --btnColor: #6F65A9;
  --navbarColor: #ce8fff
}
html, body {
  margin: 0;
  height: 100%;
  background-color: var(--backgroundColor);
  color: var(--fontColor);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'New Rocker';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* test */
  /* thẻ chứa back và background-mode */
.container {
  display: flex;
  justify-content: right;
}
.music-logo {
  width: 64px;
  height: 64px;
}
.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5%;
}
.avt{
  padding-top: 1.5%;
}
.avt img{
  width: 70%;
  border-radius: 50%;
}
/* Nút chuyển chế độ background */
.button-mode {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1.5%;
}
.mode-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}
.mode-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fontColor);
  transition: 0.4s;
  border-radius: 34px;
}

.mode-switch-slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: var(--backgroundColor);
transition: 0.4s;
border-radius: 50%;
}

input:checked + .mode-switch-slider {
background-color: var(--backgroundColor);
}
input:checked + .mode-switch-slider {
background-color: var(--backgroundColor);
}

input:checked + .mode-switch-slider:before {
transform: translateX(46px);
}
/* test */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: grid;
  grid-area: right-top;
}
.header-content{
  display: flex;
  align-items:flex-end; 
  justify-content: flex-end; 
  align-items: flex-start;
}
.header-content img{
  width: 10%;
  align-items: center;  
  padding: 0;
  padding-top: 1.5%;
}
.nav-bar{
  grid-area: left;
  background-color: var(--backgroundColor);
}
.nav-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
}