.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avt-container {
    width: 30%;  /* Điều chỉnh kích thước ảnh */
    /*height: 300px; /* Điều chỉnh kích thước ảnh */
    max-width: 300px;

    border-radius: 50%; /* Hình tròn */
    overflow: hidden; /* Đảm bảo ảnh không tràn ra khỏi khung hình tròn */
    margin-bottom: 20px;
}

.avt-container img {
    width: 100%;  /* Điều chỉnh kích thước ảnh */
    height: 100%; /* Điều chỉnh kích thước ảnh */
    object-fit: cover; /* Đảm bảo ảnh đầy đủ trong khung hình tròn */
}
.profile-list-info-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #2c0c0c;
}
.profile-info-container {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 750;
    border: 2px solid #291919;
}

.profile-info-number,
.profile-list-info-name {
    margin: 0;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    font-weight: 750;
    color: black;
}
.edit-profile-button {
    width: 200px;
    height: 80px;
    color: var(--fontColor);
    font-size: 28px;
    font-weight: 750;
    background-color: transparent;
    border: 2px solid var(--btnColor);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.edit-profile-button:hover {
    background-color: var(--btnColor);
}