

.home-logo {
    width: 630px;
    height: 630px;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
.loading-title {
  text-align: center;
  color: var(--primary-color-light-mode-1100, #080519);
  font-family: 'New Rocker';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.space{
    height: 2.5%;
}

.container-page{
    display: grid;
    grid-template-columns: 262px calc(100% - 262px);
    grid-template-rows: 110px calc(100% - 148px) 120px;
    grid-template-areas: 
    "left right-top"
    "left right-bottom"
    "footer footer"; /* Xác định vị trí của các phần tử trong grid */    
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    justify-content: start;
}

.nav-bar{
    background-color: var(--navbarColor);
    grid-area: left;
    height: calc(100vh - 60px - 80px); /* X là tổng chiều cao của header và footer */
    position: sticky;
    top: 0;
}
.music-logo {
    width: 40%;
    height: 40%;
  }
.nav-bar img{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.list-nav ul {  
    display: flex;
    list-style-type: none;  
    margin: 0;  
    padding: 0;  
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;  
    align-items: center;
}
.list-nav ul img {
    width: 20%;
    height: 20%;
    align-items: center;  
    padding: 0;
}
.list-nav ul a {  
    display:flex;
    align-items: center;  
    padding: 8px 16px;  
    text-decoration: none;
    font-size: 150%;
    font-weight: bolder;
}
.list-nav ul:hover {  
    background-color: #2f153f;  
    font-weight: bold;  
    border-right: 5px solid #bbc4fe;
    border-radius: 0 3px 3px 0;
}
.list-nav ul:active {
    background-color: #2f153f;  
    font-weight: bold;  
    border-right: 5px solid #bbc4fe;
    border-radius: 0 3px 3px 0;
}

.header{
    display: grid;
    grid-area: right-top;
    padding-right: 2.5%;
    position: sticky;
    top: 0;
    background-color: var(--backgroundColor);
}
.header-content{
    display:flex; 
    align-items:flex-end; 
    justify-content: flex-end; 
    align-items: flex-start;
}
.header img{
    width: 40px;
    height: 40px;
    align-items: center;  
    padding: 0;
    padding-top: 0.5%;
}
.header h2{ 
    padding: 8px 16px;  
    margin: 0;
    padding-top: 1.5%;
    text-decoration: none;
    font-size: 150%;
}
.home-mode-switch-container {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.content{
    grid-area: right-bottom;
}
.music-dashboard{
    padding-left: 2%;
    padding-right: 2%;
}
.music-dashboard-detail{
    padding-left: 2%;
    padding-right: 2%;
}
.music-dashboard-list {
    display: flex;
    list-style: none;
    padding: 0;
    padding-left: 5%;
}
.music-dashboard-list-header{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.see-more-button {
    color: var(--primary-color-light-mode-1100, #080519);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
.see-more-button:hover {
    background-color: #0056b3;
}
  
.music-dashboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 256px;
}
.music-dashboard-item-img img{
    width: 75%;
    border-radius: 8px; /* Đặt bán kính bo gốc */
}

.music-dashboard-item-info {
    margin-bottom: 20px;
}

.music-dashboard-item-info h3 {
    margin: 0;
    padding: 0;
    font-size: 24px; /* Kích thước chữ cho h3 là 24px */
    text-align: center;
    white-space: normal; /* Cho phép xuống dòng */
}
  
.music-dashboard-item-info p {
    margin: 0;
    padding: 0;
    font-size: 20px; /* Kích thước chữ cho p là 20px */
    text-align: center;
    white-space: normal; /* Cho phép xuống dòng */
}

.music-dashboard-item:last-child {
    margin-right: 0;
}

/* footer */
.footer {
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color-light-mode-1100);
    color: white;
    text-align: center;
}
.playlist-container {
    width: 100%;
    background-color: #6F65A9; 
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.playlist-container img {
    width: 50px;
    height: 50px;
}
.btn-playlist-container {
    display: flex;
    justify-content: space-evenly;
}
.timestamp-song-container {
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}
.manage-playlist-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-content: stretch;
    /* align-items: center; */
    justify-content: space-evenly;
}
.playing-song-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-playing-song{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.playing-song-container img {
    width: 50px;
    height: 50px;
}
input.song-timeline {
    width: 75%;
}
.mute-play-song-container {
    display: flex;
    flex-wrap: nowrap;
    /* align-content: flex-end; */
    align-items: center;
    justify-content: space-evenly;
}
/* ==========================================================CSSSettingContent========================================================== */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avt-container {
    width: 300px;  /* Điều chỉnh kích thước ảnh */
    height: 300px; /* Điều chỉnh kích thước ảnh */
    border-radius: 50%; /* Hình tròn */
    overflow: hidden; /* Đảm bảo ảnh không tràn ra khỏi khung hình tròn */
    margin-bottom: 20px;
}

.avt-container img {
    width: 100%;  /* Điều chỉnh kích thước ảnh */
    height: 100%; /* Điều chỉnh kích thước ảnh */
    object-fit: cover; /* Đảm bảo ảnh đầy đủ trong khung hình tròn */
}
.profile-list-info-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #2c0c0c;
}
.profile-info-container {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #291919;
}

.profile-info-number,
.profile-list-info-name {
    margin: 0;
}
.profile-info{
    font-size: 28px;
    font-weight: 750;
    color: black;
}
.edit-profile-button {
    width: 200px;
    height: 80px;
    color: var(--fontColor);
    font-size: 28px;
    font-weight: 750;
    background-color: transparent;
    border: 2px solid var(--btnColor);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.edit-profile-button:hover {
    background-color: var(--btnColor);
}
/* =========================================================================================== */
.list-setting-container{
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
}
.delete-account-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete-account-button {
    width: 300px;
    height: 96px;
    color: var(--fontColor);
    font-size: 28px;
    font-weight: 750;
    background-color: transparent;
    border: 2px solid var(--btnColor);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.delete-account-button:hover {
    background-color: var(--btnColor);
}