/* thẻ chứa back và background-mode */
.login-mode-switch-container {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}
/* Nút back */
.login-icon {
    color: var(--fontColor);
    width: 48px;
    height: 48px;
}
/* Nút chuyển chế độ background */
.mode-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}
.mode-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--fontColor);
    transition: 0.4s;
    border-radius: 34px;
}

.mode-switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--backgroundColor);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .mode-switch-slider {
    background-color: var(--backgroundColor);
}
input:checked + .mode-switch-slider {
    background-color: var(--backgroundColor);
}

input:checked + .mode-switch-slider:before {
    transform: translateX(46px);
}
/******/
.login-title {
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
.login-form-container {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
}
.login-form-label {
    margin-top: 40px;
    display: block;
}
.login-form-control {
    margin-top: 10px;
    width: 1149px;
    height: 72px;
    font-size: 28px; 
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--fontColor);
    border-radius: 5px;
}
.forgot-password a {
    display: flex;
    justify-content: flex-end;
    color: var(--fontColor);
    font-size: 24px;
    font-weight: 500;
}
.remember-me {
    font-size: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.remember-me input {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.btnLogin-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.btnLogin {
    width: 194px;
    height: 96px;
    color: var(--fontColor);
    font-size: 28px;
    font-weight: 750;
    background-color: transparent;
    border: 2px solid var(--btnColor);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.btnLogin:hover {
    background-color: var(--btnColor);
}
.login-error-feedback {
    color: red;
    font-size: 28px;
    font-weight: 500;
}